In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

In [2]:
bt = pd.read_csv("Bitcoin Historical Data(2010-2024).csv")
bt

            Date     Price      Open      High       Low     Vol. Change %
0     03/24/2024  67,211.9  64,036.5  67,587.8  63,812.9   65.59K    4.96%
1     03/23/2024  64,037.8  63,785.6  65,972.4  63,074.9   35.11K    0.40%
2     03/22/2024  63,785.5  65,501.5  66,633.3  62,328.3   72.43K   -2.62%
3     03/21/2024  65,503.8  67,860.0  68,161.7  64,616.1   75.26K   -3.46%
4     03/20/2024  67,854.0  62,046.8  68,029.5  60,850.9  133.53K    9.35%
...          ...       ...       ...       ...       ...      ...      ...
4994  07/22/2010       0.1       0.1       0.1       0.1    2.16K    0.00%
4995  07/21/2010       0.1       0.1       0.1       0.1    0.58K    0.00%
4996  07/20/2010       0.1       0.1       0.1       0.1    0.26K    0.00%
4997  07/19/2010       0.1       0.1       0.1       0.1    0.57K    0.00%
4998  07/18/2010       0.1       0.0       0.1       0.1    0.08K    0.00%

[4999 rows x 7 columns]

In [3]:
bt.dtypes

Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

In [4]:
#reformatting to drop k and m, change to integers

#function loop  to drop and multiply
def km_to_number(value):
    if isinstance(value, str):
        if 'K' in value:
            return float(value.replace('K', '')) * 1000
        elif 'M' in value:
            return float(value.replace('M', '')) * 1000000
        elif 'B' in value:
            return float(value.replace('B', '')) * 1000000000
    else:
        return value

bt["Vol."] = bt["Vol."].apply(km_to_number)

bt

            Date     Price      Open      High       Low      Vol. Change %
0     03/24/2024  67,211.9  64,036.5  67,587.8  63,812.9   65590.0    4.96%
1     03/23/2024  64,037.8  63,785.6  65,972.4  63,074.9   35110.0    0.40%
2     03/22/2024  63,785.5  65,501.5  66,633.3  62,328.3   72430.0   -2.62%
3     03/21/2024  65,503.8  67,860.0  68,161.7  64,616.1   75260.0   -3.46%
4     03/20/2024  67,854.0  62,046.8  68,029.5  60,850.9  133530.0    9.35%
...          ...       ...       ...       ...       ...       ...      ...
4994  07/22/2010       0.1       0.1       0.1       0.1    2160.0    0.00%
4995  07/21/2010       0.1       0.1       0.1       0.1     580.0    0.00%
4996  07/20/2010       0.1       0.1       0.1       0.1     260.0    0.00%
4997  07/19/2010       0.1       0.1       0.1       0.1     570.0    0.00%
4998  07/18/2010       0.1       0.0       0.1       0.1      80.0    0.00%

[4999 rows x 7 columns]

In [5]:
#convert to date to datetime, price/open/high/low to float, change% to float
bt["Date"] = pd.to_datetime(bt["Date"])
bt[["Price", "Open", "High", "Low"]] = bt[["Price", "Open", "High", "Low"]].applymap(lambda x: float(x.replace(',', '')))
bt['Change %'] = bt['Change %'].str.rstrip('%').astype(float)
bt

           Date    Price     Open     High      Low      Vol.  Change %
0    2024-03-24  67211.9  64036.5  67587.8  63812.9   65590.0      4.96
1    2024-03-23  64037.8  63785.6  65972.4  63074.9   35110.0      0.40
2    2024-03-22  63785.5  65501.5  66633.3  62328.3   72430.0     -2.62
3    2024-03-21  65503.8  67860.0  68161.7  64616.1   75260.0     -3.46
4    2024-03-20  67854.0  62046.8  68029.5  60850.9  133530.0      9.35
...         ...      ...      ...      ...      ...       ...       ...
4994 2010-07-22      0.1      0.1      0.1      0.1    2160.0      0.00
4995 2010-07-21      0.1      0.1      0.1      0.1     580.0      0.00
4996 2010-07-20      0.1      0.1      0.1      0.1     260.0      0.00
4997 2010-07-19      0.1      0.1      0.1      0.1     570.0      0.00
4998 2010-07-18      0.1      0.0      0.1      0.1      80.0      0.00

[4999 rows x 7 columns]

In [6]:
bt.dtypes

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Vol.               float64
Change %           float64
dtype: object

In [7]:
bt['Date'] = bt['Date'].astype('int64')
bt['Date'] = bt['Date'].astype(float)

In [8]:
#adding a classification for softmax activation function
conditions = [
    (bt['Change %'] > 0),
    (bt['Change %'] < 0),
    (bt['Change %'] == 0)
]
values = [1, 0, 2]

bt['Inertia'] = np.where(conditions[0], values[0],
                np.where(conditions[1], values[1], values[2]))
bt

,Date,Price,Open,High,Low,Vol.,Change %,Inertia
0,1.711238e+18,67211.9,64036.5,67587.8,63812.9,65590.0,4.96,1
1,1.711152e+18,64037.8,63785.6,65972.4,63074.9,35110.0,0.40,1
2,1.711066e+18,63785.5,65501.5,66633.3,62328.3,72430.0,-2.62,0
3,1.710979e+18,65503.8,67860.0,68161.7,64616.1,75260.0,-3.46,0
4,1.710893e+18,67854.0,62046.8,68029.5,60850.9,133530.0,9.35,1
...,...,...,...,...,...,...,...,...
4994,1.279757e+18,0.1,0.1,0.1,0.1,2160.0,0.00,2
4995,1.279670e+18,0.1,0.1,0.1,0.1,580.0,0.00,2
4996,1.279584e+18,0.1,0.1,0.1,0.1,260.0,0.00,2
4997,1.279498e+18,0.1,0.1,0.1,0.1,570.0,0.00,2
4998,1.279411e+18,0.1,0.0,0.1,0.1,80.0,0.00,2

In [16]:
bit = bt.copy()
bit.drop(columns=["Date"])

        Price     Open     High      Low      Vol.  Change %  Inertia
0     67211.9  64036.5  67587.8  63812.9   65590.0      4.96        1
1     64037.8  63785.6  65972.4  63074.9   35110.0      0.40        1
2     63785.5  65501.5  66633.3  62328.3   72430.0     -2.62        0
3     65503.8  67860.0  68161.7  64616.1   75260.0     -3.46        0
4     67854.0  62046.8  68029.5  60850.9  133530.0      9.35        1
...       ...      ...      ...      ...       ...       ...      ...
4994      0.1      0.1      0.1      0.1    2160.0      0.00        2
4995      0.1      0.1      0.1      0.1     580.0      0.00        2
4996      0.1      0.1      0.1      0.1     260.0      0.00        2
4997      0.1      0.1      0.1      0.1     570.0      0.00        2
4998      0.1      0.0      0.1      0.1      80.0      0.00        2

[4999 rows x 7 columns]

In [17]:

y = bit["Inertia"].values
X = bit.drop(columns="Inertia").values

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
num_classes = 3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=num_classes, activation="softmax"))

c:\Users\lucas\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [19]:
#Compile
nn.compile(loss="sparse_categorical_crossentropy", optimizer="adam", metrics=["accuracy"])

#Fit
nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50

118/118 ━━━━━━━━━━━━━━━━━━━━ 1s 908us/step - accuracy: 0.4804 - loss: 1.0663
Epoch 2/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 937us/step - accuracy: 0.4727 - loss: 0.9649
Epoch 3/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 858us/step - accuracy: 0.4772 - loss: 0.9297
Epoch 4/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 790us/step - accuracy: 0.4996 - loss: 0.9277
Epoch 5/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 808us/step - accuracy: 0.4876 - loss: 0.9364
Epoch 6/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 883us/step - accuracy: 0.5061 - loss: 0.9107
Epoch 7/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 903us/step - accuracy: 0.4927 - loss: 0.9284
Epoch 8/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 812us/step - accuracy: 0.4900 - loss: 0.9176
Epoch 9/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 994us/step - accuracy: 0.4962 - loss: 0.9193
Epoch 10/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4980 - loss: 0.9095
Epoch 11/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 845us/step - accuracy: 0.4910 - loss: 0.9222
Epoch 12/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 785us/step - accuracy: 0.4936 - loss: 0.9188
Epoch 13/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 800us/step - accuracy: 0.4882 - loss: 0.9230
Epoch 14/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 761us/step - accuracy: 0.4887 - loss: 0.9290
Epoch 15/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 805us/step - accuracy: 0.4842 - loss: 0.9270
Epoch 16/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.4808 - loss: 0.9200
Epoch 17/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.4815 - loss: 0.9347
Epoch 18/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 957us/step - accuracy: 0.4792 - loss: 0.9215
Epoch 19/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 784us/step - accuracy: 0.4834 - loss: 0.9180
Epoch 20/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - accuracy: 0.5123 - loss: 0.9069
Epoch 21/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 933us/step - accuracy: 0.4826 - loss: 0.9280
Epoch 22/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 812us/step - accuracy: 0.4988 - loss: 0.9223
Epoch 23/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.4760 - loss: 0.9298
Epoch 24/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 800us/step - accuracy: 0.4873 - loss: 0.9240
Epoch 25/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4850 - loss: 0.9305
Epoch 26/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 784us/step - accuracy: 0.5075 - loss: 0.9119
Epoch 27/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - accuracy: 0.4890 - loss: 0.9267
Epoch 28/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 813us/step - accuracy: 0.4911 - loss: 0.9248
Epoch 29/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 821us/step - accuracy: 0.4898 - loss: 0.9142
Epoch 30/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 795us/step - accuracy: 0.4981 - loss: 0.9221
Epoch 31/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 819us/step - accuracy: 0.4704 - loss: 0.9418
Epoch 32/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 919us/step - accuracy: 0.4836 - loss: 0.9267
Epoch 33/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 889us/step - accuracy: 0.4947 - loss: 0.9035
Epoch 34/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4828 - loss: 0.9325
Epoch 35/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - accuracy: 0.4796 - loss: 0.9238
Epoch 36/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 875us/step - accuracy: 0.4861 - loss: 0.9348
Epoch 37/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 797us/step - accuracy: 0.4926 - loss: 0.9170
Epoch 38/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 843us/step - accuracy: 0.4952 - loss: 0.9301
Epoch 39/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5031 - loss: 0.9204
Epoch 40/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 786us/step - accuracy: 0.5001 - loss: 0.9128
Epoch 41/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 745us/step - accuracy: 0.4881 - loss: 0.9232
Epoch 42/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 927us/step - accuracy: 0.4899 - loss: 0.9073
Epoch 43/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 899us/step - accuracy: 0.4876 - loss: 0.9263
Epoch 44/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 932us/step - accuracy: 0.4915 - loss: 0.9197
Epoch 45/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 834us/step - accuracy: 0.4817 - loss: 0.9332
Epoch 46/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 777us/step - accuracy: 0.4884 - loss: 0.9201
Epoch 47/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - accuracy: 0.4905 - loss: 0.9184
Epoch 48/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 776us/step - accuracy: 0.5025 - loss: 0.9111
Epoch 49/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5050 - loss: 0.9097
Epoch 50/50
118/118 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4836 - loss: 0.9399

In [12]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

40/40 - 0s - 5ms/step - accuracy: 0.4720 - loss: 0.9252
Loss: 0.9252223968505859, Accuracy: 0.47200000286102295